language: android
jdk: oraclejdk8

android:
  components:
    - tools
    - platform-tools
    - tools

    # The BuildTools version used by your project
    - build-tools-26.0.2

    # The SDK version used to compile your project
    - android-26

branches:
  only:
  - master

before_script:
  - chmod +x gradlew